table{
    text-align: center;
    font-size: 12px;
}
td{
    padding: 0!important;
    margin: 0;
}
th{
    text-align: center;
    border-bottom-width: 0!important;
        padding: 0!important;
    background: #F7F7F7;
    font-size: 14px;
}