.navbar-brand img{
    margin-top: -15px;
}
.actions{
    width: 20%;
}
.id{
    width: 5%;
}
.cop{
    text-decoration: none;
    color: black;
}
.cop:hover{
    text-decoration: none;
    color: black;
}
.checkbox input[type="checkbox"] { 
    margin: 3px 0 0 0;
}


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.select2-container{
    margin: 0;
    padding: 0;
    border: none;
}

.tpedido input{
    width: 100%!important;
}

.top{
    top: 329px!important;
}

.add-kit{
    margin: 27px 0 0 15px;
}

#tableKit input{
    border: none;
    width:  50px;
    background: none;
}

label.error{
    font-size: 11px;
    float: left;
    position: absolute;
    color:red
}
input.error{
    border: 1px solid red;
}

#ClienteTipoF{
    float: left;
}
label[for="ClienteTipoF"]{
    float: left;
    margin: 1px 30px 0 2px;
}

#ClienteTipoJ{
    float: left;
}
label[for="ClienteTipoJ"]{
    float: left;
    margin: 1px 10px 0 2px;
}

.topEstoque {
    top: 329px!important;
}

#addkitPedido{
    margin-left: 15px;
}

#PedidoTipo0{
    float: left;
}
label[for="PedidoTipo0"]{
    float: left;
    margin: 1px 30px 0 2px;
}

#PedidoTipo1{
    float: left;
}
label[for="PedidoTipo1"]{
    float: left;
    margin: 1px 10px 0 2px;
}
.total, .desconto{
    font-size: 12px;
    display: inline;
}
.stotal{
    color: red;
}
.sdesconto{
    color: green;
}
.td{
    display: inline;
}

.bg-success.avista{
    font-size: 19px;
    font-weight: bold;
    color: green;
    margin-left: 15px;
}

.bg-danger.aprazo{
    font-size: 19px;
    font-weight: bold;
    color: red;
    margin-left: 15px;
}

label.tipo{
    margin-left: 12px;
}

#dvLoading{
    background:#000;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
}

#dvLoading img{
    width: 100%;
    margin-top:200px;
}

.bg-danger{
    padding: 10px;
    color:red;
}

/*.confirmar input{
    font-weight: bold;
    color: red;
}*/

.tableVisivel{
    border: 1px solid!important;
    background: #fff!important;
    border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    -webkit-border-radius: 2px!important;
}

.numeroLancamento{
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.tituloLancamento{
    color: green;
    text-align: center;
}

.pb{
    color: blue;
    font-weight: bold;
}

.pg{
    color: green;
    font-weight: bold;
}
.pr{
    color: red;
    font-weight: bold;
}

/*HOME*/

.home a{
    margin: 0;
    padding: 15px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    color: black;
}

.home a:hover{
    background: #EEEEEE;
}

#content{
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    padding: 10px;
    moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

hr{
    border-top: 1px solid #ccc!important;
}
.dv-representantes{
    background: rgba(255, 0, 0, 0.15);
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#pisca {
    background: #fff;
    transition: color .7s;
}
.mostrar {
    background: red !important;
}